body {
  min-height: 100vh;
}
body .contents {
  height: 100%;
}
body .contents main {
  height: 80vh;
  display: flex;
  align-items: center;
}
body .contents main .form .btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
body .contents main .form .btns-wrapper .btn {
  margin-left: 15px;
  width: 50%;
}
