body .contents main .form .btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
body .contents main .form .btns-wrapper .btn {
  margin-left: 15px;
  width: 50%;
}
