.page-title {
  margin-top: 15px;
  margin-left: 15px;
}

.config-wrapper {
  display: flex;
}
.config-wrapper .side-bar {
  height: 100vh;
  width: 300px;
  border-top: solid 1px #ddd;
  border-right: solid 1px #ddd;
  padding: 0;
}
.config-wrapper .side-bar .bar-item {
  list-style: none;
  padding: 15px;
  border-bottom: solid 1px #ddd;
  cursor: pointer;
}
.config-wrapper .side-bar .bar-item .link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.config-wrapper .side-bar .bar-item:hover {
  background-color: #eee;
}
.config-wrapper .side-bar .active {
  background-color: #eee;
}
.config-wrapper .config {
  display: none;
  width: 100%;
}
.config-wrapper .profile-config {
  padding: 100px 0;
  width: 100%;
}
.config-wrapper .profile-config .image {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  text-align: center;
}
.config-wrapper .profile-config .image img {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 15px auto;
}

.user-config {
  padding: 100px 50px;
}
.user-config .users-wrapper .btns-wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 15px auto;
}
.user-config .users-wrapper .btns-wrapper .btn {
  width: 120px;
  margin-left: 10px;
}
.user-config .users-wrapper .users .row {
  border-bottom: 1px solid #ddd;
}
.user-config .users-wrapper .users .row .column {
  padding: 15px 15px;
}
.user-config .users-wrapper .users .row .col-check, .user-config .users-wrapper .users .row .col-edit {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.user-config .users-wrapper .users .header-row .check input {
  font-size: 25px;
}
.user-config .users-wrapper .users .user .edit-open {
  cursor: pointer;
  color: #6CAAF9;
}
.user-config .users-wrapper .users .body-row:hover {
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.15);
}

#editAuthModal .modal-dialog .modal-content .modal-body .row {
  margin-bottom: 15px;
}
#editAuthModal .modal-dialog .modal-content .modal-body .row .col .input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px 10px;
}
