body {
  min-height: 100vh;
  .contents {
    height: 100%;
    main {
      height: 80vh;
      display: flex;
      align-items: center;
      .form {
        .btns-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 300px;
          .btn {
            margin-left: 15px;
            width: 50%;
          }
        }
      }
    }
  }
}